.newsletter{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(rgb(168, 221, 241),white);
    height: 40vh;
    width: 80%;
    margin-bottom: 80px;
    gap: 20px;
}
.newsletter p{
    color: rgb(68, 65, 65);
    font-size: 20px;
    font-weight: 600;
}
.newsletter h1{
    color: rgb(68, 65, 65);
    font-size: 50px;
    font-weight: 600;
}
.container{
    width: 60%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}
.container input{
    width: 35%;
    margin-left: 30px;
    background:none;
    font-size: 16px;
    border: none;
    outline: none;
}
.container button{
    width: 25%;
    background:none;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    height: 70px;
    border-radius: 80px;
}